* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url("https://raw.githubusercontent.com/elsacodesid/responsive-menu/main/images/bg.jpeg");
    background-size: cover;
    background-position: center;

}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

a:hover {
    color:aqua;

}

/* Header */
header {
    position: relative;
    padding: 0 2rem;
}

.navbar {
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links {
    display: flex;
    gap:2rem;
}

.navbar .toggle_btn {
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

    
.action_btn, #pop-btn {

    background-image: linear-gradient(to right, #1FA2FF 0%, #12D8FA  51%, #1FA2FF  100%);
    padding: 10px 20px;
    text-align: center;
    font-weight: bold;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 20px;
    display: flex;
    cursor: pointer;

  }

.action_btn:hover, #pop-btn:hover {
    background-position: right center;
    color: #fff;
    text-decoration: none;
  }


/* Dropdown menu */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 2rem;
    top: 60px;
    width: 300px;
    height: 0px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);

}

.dropdown_menu.open {
    height: 240px;
}

.dropdown_menu li {
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;

}


/* Hero */
section#hero {
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-shadow: 1px 1px 4px black;
    color: white;
}

#hero h1{
    font-size: 3rem;
    margin-bottom: 1rem;

}


/* Responsive design */
@media(max-width: 992px){
    .navbar .links,
    .navbar .action_btn {
        display: none;
    }

    .navbar .toggle_btn{
        display: block;

    }

    .dropdown_menu {
        display: block;
    }
}
@media(max-width: 576px){

    .dropdown_menu {
        left: 2rem;
        width: unset;
    }
}
 
  

        